div,p,h1,a {
    display: inline-block;
    border: 2px solid dodgerblue;
    margin-top: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: white;
    color: white;


}
div:hover {
    background-color: dodgerblue;
    border: 2px solid white;
    transition: 5s;
    color: white;
    text-align: center;
}

body {
    background-color: #0d3349;
}
