<!DOCTYPE html>
<html ng-app="taskList">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script>
        var user = {
                name: "Google",
                tasks: [{name: "Wash dishes", passed: "Done", time: "09:00"},
                        {name: "Gym", passed: "In progress", time: "11:00"},
                        {name: "Go to work", passed: "To do", time: "13:00"}]
            };

        var taskList = angular.module("taskList",[]);

        taskList.controller("taskListCtrl", function ($scope) {

            $scope.list = user;

            $scope.addNewTask = function () {
                $scope.list.tasks.push({
                    name: $scope.taskName || '----',
                    passed: $scope.taskPassed || 'Not choose',
                    time: $scope.taskTime || 'No time'
                })
            }
        });
        /*  $scope.setStyle = function (progress) {
                if (!progress) {
                    return "color:#a80e00";
                }
                else
                    return "color:green";
            }
        });*/
    </script>
    <style>
        html { overflow-x: hidden; }
        #timeInputCss { width: 200px;}
        th {color: #a80e00}
        #taskQuant {color:#a80e00}
    </style>
    <script src="../js/vendor/jquery-3.1.1.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
</head>
<body ng-controller="taskListCtrl">
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2   col-lg-2 ">
        <img src="https://ru.code-maven.com/img/angularjs.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-6 col-lg-offset-4">
        <h1>Hello, {{list.name}}</h1>
        <h2>here is your <strong id="taskQuant">{{list.tasks.length}}</strong> tasks for today!</h2>
        <br>
        <br>
    </div>
    <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-6 col-lg-offset-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><h3>Task's</h3></th>
                    <th><h3>Status</h3></th>
                    <th><h3>Time</h3></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in list.tasks">
                <td><strong>{{task.name}}</strong></td>
                <td>{{task.passed}}</td>
                <td>{{task.time}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h4> Do you have more tasks? Than add it!</h4>
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="taskName" placeholder="write task">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Pick action</span>
                <select class="form-control" ng-model="taskPassed">
                    <option></option>
                    <option>To Do</option>
                    <option>In Progress</option>
                    <option>Done</option>
                </select>
                </div>
                <input id="timeInputCss" type="text" class="form-control" ng-model="taskTime" placeholder="input time in format HH:MM">
            </div>
        <button type="submit" class="btn btn-default" ng-click="addNewTask()">Add task</button>
        </div>
</body>
</html>